/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header,
footer,
article,
nav,
aside,
.reklama1,
.reklama2 {
  padding: 20px;
}

header > :first-child,
footer > :first-child,
article > :first-child,
nav > :first-child,
.reklama1 > :first-child,
.reklama2 > :first-child {
  margin-top: 0;
}

header > :last-child,
footer > :last-child,
article > :last-child,
nav > :last-child,
aside > :last-child,
.reklama1 > :last-child,
.reklama2 > :last-child {
  margin-bottom: 0;
}

.reklama1 {
  margin-bottom: 20px;
}

.hlavicka {
  background-color: #2ecc71;
}
.menu {
  background-color: #e74c3c;
}
.obsah {
  background-color: #f1c40f;
}
.reklama1 {
  background-color: #8e44ad;
}
.reklama2 {
  background-color: mediumturquoise;
}
.paticka {
  background-color: dodgerblue;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/
@media (min-width: 640px) {
  .kontejner {
    display: flex;
    flex-wrap: wrap;
  }

  .obsah {
    display: flex;
  }
  .obsah .clanek {
    max-width: 60%;
  }
  .obsah .reklamy {
    max-width: 40%;
  }
}

@media (min-width: 1000px) {
  .kontejner {
    display: flex;
    flex-wrap: wrap;
  }
  .menu {
    max-width: 25%;
  }
  .obsah {
    max-width: 75%;
    flex-direction: column;
  }
  .obsah .clanek {
    max-width: 100%;
  }
  .obsah .reklamy {
    display: inline-flex;
    max-width: 100%;
    gap: 20px;
  }

  .reklama1,
  .reklama2 {
    max-width: 50%;
    height: 100%;
  }
}
